html,
body {
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  background-color: #333;
  color: white;
  padding: 20px;
}

h1 {
  margin: 0;
}

.json-input {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

textarea {
  flex: 1;
  height: 100px;
  padding: 5px;
  font-size: 16px;
}

button {
  margin-left: 10px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

.main {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.no-data {
  font-size: 18px;
}

.graph-container {
  position: relative;
  width: 100%;
  max-width: 800px;
  height: 250px;
}

.graph-svg {
  width: 100%;
  height: 100%;
}

.node {
  fill: rgba(0, 0, 255, 0.799);
  size: '20px';
}

.edge {
  stroke: black;
  stroke-width: 3;
  cursor: pointer;
}

.edge.highlighted {
  stroke: red;
}

.selected-nodes {
  margin-top: 20px;
  font-size: 25px;
  text-align: center;
}

.footer {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
}

.additional-info {
  margin-top: 20px;
}

.additional-info textarea {
  width: 100%;
  padding: 10px;
  resize: none;
}

.node-number {
  height: 2px;
  width: 2px;
  font-size: 12px;
  fill: #f8f82b;
  dominant-baseline: middle;
  text-anchor: middle;
}
